
.container-flute{
	width: 1200px;
	margin-left: 80px;
}

.add1-body{
	height:100px;
	border-top: 3px solid red;
}
.paresh-card{
	height: 230px;
}
.add2-image{
	height: 200px;
	width: 300px;
}
.add2-firstheding{
	height: 100px;
}

.col-md-4{
	float: left;
	border-radius:5px;
}
	.card{
		margin-top: 10px;
	}
	.sub1{
		height: 100px;
		float: left;
		border-radius:5px;
		box-shadow: 0px 0px 3px 0px gray;
	}
	.sub1:hover{
		transition: box-shadow .5s;
		box-shadow: 0px 5px 15px 1px gray;
	}
		.sub1-tital{
			height: 100px;
			width: 59.5%;
			float: left;
			margin: 10px;
			color: black;
			font-family: sans-serif;
		}
		.sub1-image img{
			height: 100px;
			width: 35%;
			float: right;
			border-radius: 0 5px  5px 0;
		}


/************* Rounded Class*******/

.round{
	border-radius: 9px;
}
.round-top{
	border-radius: 9px 9px 0 0;
}
.round-bottam{
	border-radius: 0 0 9px 9px;
}
.round-left{
	border-radius: 0 9px 9px 0;
}

/****************** 2nd Collumn*************/

.letest{
	width: 100%;
	height: 50px;
	margin-top: 20px;
	float:left;
}
	.hed-1{
		font-family: sans-serif;
		color: red;
		width: 70%;
		height: 50px;
		float: left;
		//background-color: blue;
	}
	.viewall-1{
		width: 30%;
		height: 30px;
		float: left;
		border-radius: 5px;
		box-shadow:  0px 0px 1px 1px gray;
	}
		.viewall-1 p{
			color: black;
			width: 60px;
			font-size: 13px;
			float: left;
			margin:5px 0 0 15px;
		}
		.viewall-1 img{
			height: 20px;
			margin: -45px 0 0 80px;
		}



	.sub2{
		height: 130px;
		float: left;
		border-radius:5px;
		box-shadow: 0px 0px 3px 0px gray;
	}
	.sub2:hover{
		transition: box-shadow .5s;
		box-shadow: 0px 5px 15px 1px gray;
	}
		.sub2-tital{
			height: 130px;
			width: 59.5%;
			float: left;
			margin: 10px;
			color: black;
			font-family: sans-serif;
		}
		.sub2-image img{
			height: 130px;
			width: 35%;
			float: right;
			border-radius: 0 5px  5px 0;
		}



/****************** Add-Image ***************/

.add-image{
	width: 100%;
	height: 100px;
	margin-top:20px;
	float: left;
}

.letest{
	width: 100%;
	height: 50px;
	margin-top: 20px;
	float:left;
}
	.hed{
		font-family: sans-serif;
		color: red;
		width: 38%;
		height: 50px;
		float: left;
		//background-color: blue;
	}
	.border-bottam{
		float: left;
		width:50%;
		border-bottom:2px solid red; 
		height: 20px;
	}
	.viewall-2{
		width: 10%;
		height: 30px;
		float: left;
		border-radius: 5px;
		margin: 4px 0 0 20px;
		box-shadow:  0px 0px 1px 1px gray;
	}
		.viewall-2 p{
			color: black;
			width: 60px;
			font-size: 13px;
			float: left;
			margin:5px 0 0 15px;
		}
		.viewall-2 img{
			height: 20px;
			margin: -45px 0 0 80px;
		}



		/************ Card-Add ***********/


.card-add{
	float: left;
	width: 102.5%;
	height: 350px;
	margin-top:200px;
}
.cardbody{
	border-top:2px solid red;
	height: 100px;
	font-size: 18px;
}
.cardbody p{
	font-size: 18px;
	margin-top:-15px; 
}

.card-image-height{
	height: 200px;
}
.card{
	box-shadow: .5px .5px 1px 0 gray;
}
.card:hover{
	transition: box-shadow .5s;
	box-shadow: 0px 5px 15px 1px gray;
}

.carousel-item{
	width: 70%;
	height: 200px;
	margin-left:15%;
}


/*************** Photo-Galery ******************/

.card-body{
	float: left;
	height: 
}
.image-1{
	width: 60%;
	height: 170px;
	float: left;
	margin:;
}
.image-2{
	width:35%;
	height: 80px;
	margin-left:15px;
}
.image-3{
	float: left;
	width:35% ;
	height:80px;
	margin:10px 0 0 15px;
}

.galary p{
	margin-top: 105px;
}
.gallery-icon{
	margin:0 0 -10px -10px;
	width: 40px;
	height: 40px;
}
.photo{
	margin-top:10px;
}